* {
    margin: 0;
    padding: 0;
  }
  
body{
    width: auto;
    height: 100%;
    font-family: 'MedievalSharp', cursive;
    color: white;
    background-image: url(../imagens/escolhaPersonagens-background.jpg);
    background-size: cover;
    background-position: center;
}

a {
    color: black;
    text-decoration: none;
}

#personagens {
    display: flex;
    justify-content: center;
}
  
#personagens > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 1px solid gray;
    background-color: black;
    border-radius: 5px;
    opacity: 90%;

  }

#personagens > div > img {
    width: 100%;
    height: auto;
}

#personagens > div > p {
    font-size: 20px;
}

#hortan{
    width: 20%;
    height: auto;
}
#hortan:hover {
    box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 6px darkslategray;
    background-color: #001;
    transition: ease-in-out 300ms;
}

#agwen{
    width: 20%;
    height: auto;
}

#agwen:hover {
    box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 6px darkslategray;
    background-color: #001;
    transition: ease-in-out 300ms;
}

#bylim{
    width: 20%;
    height: auto;
}

#bylim:hover {
    box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 6px darkslategray;
    background-color: #001;
    transition: ease-in-out 300ms;
}

h1 {
    size: 100%;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 40px;
    color: #45494d;
    text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,                    
                1px -1px 0px #FFF,                  
                1px 0px 0px #FFF;
}

button {
    
    display: inline-block;
    transition: 0.4s;
    margin-top: 50px; 
    width: 150px;
    height: 70px;
    background: DarkGray;
    line-height: 70px;
    font-family: 'MedievalSharp', cursive;
    font-size: 25px;
    color: black;  
    cursor:pointer;
}

button:hover{
    box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 6px darkslategray;
    transition: ease-in-out 300ms;
    font-size: 30px;
}

footer {
    height: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: black;
    text-align: center;
}
  
footer > p {
    color: white;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}