* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body, html {
    width: 100%;
    height: 100%;
    font-family: cursive;
    color: white;
    background-image: url(../imagens/background.webp);
}

body {
    margin-bottom:50px;
    background-size: cover;
    margin: auto;
    height: auto;
}

a {
    color: black;
    text-decoration: none;
}

main {
    max-width: 100vw;
    height: calc(100vh - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: 'MedievalSharp', cursive;
    font-size: 50px;
    color: black;
    text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,                    
                1px -1px 0px #FFF,                  
                1px 0px 0px #FFF;
}
div {
    width: 650px;
    height: 501px;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 3px solid black;
    background-color: black;
    text-align: center;
}
div:hover {
    box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 6px darkslategray;
}

button {
    
    display: inline-block;
    transition: 0.4s;
    margin-top: 50px; 
    width: 150px;
    height: 70px;
    background: DarkGray;
    line-height: 70px;
    font-family: 'MedievalSharp', cursive;
    font-size: 25px;
    color: black   ;  
    cursor:pointer;
}

button:hover{
    box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 6px darkslategray;
    transition: ease-in-out 300ms;
    font-size: 30px;
}

h1, p {
    padding: 0 11.2% 3% 12.5%;
}


footer {
    height: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: black;
    text-align: center;
}
  
footer > p {
    color: white;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}